h1 {
  background-color: rgb(183, 170, 189);
}

body {
  background-color: dark rgb(54, 19, 19);
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

h2 {
  background-color: rgba(26, 26, 26, 0.247);
}

h3 {
  background-color: black;
}
